html {
    scroll-behavior: smooth;
  }
:root {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    /*LIGHT THEME*/
    --lt-bg-1:rgb(255, 255, 255);
    --lt-txt-1:rgb(0, 0, 0);
    --lt-txt-2:#606060;

    /*DARK THEME*/
    --nt-bg-1:rgb(0, 0, 0);
    --nt-txt-1:rgb(255, 255, 255);
    --nt-txt-2:#A0A0A0;

}


.container {
    padding: 1rem 2rem 1rem 2rem;
}
@media (prefers-color-scheme: dark) {
	:root {
		--lt-bg-1: var(--nt-bg-1);
        --lt-txt-1: var(--nt-txt-1);
        --lt-txt-2: var(--nt-txt-2);
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 300;
    text-align: center;
    color: var(--lt-txt-1);
}
.seperation{
    border-bottom: 2px solid var(--lt-txt-1);
    padding-bottom: 5rem;
}
main {
    justify-content: center;
    max-width: 60%;
    margin: auto;
}
footer, header {
    justify-content: center;
    max-width: 80%;
    margin: auto;
}
a {
    text-decoration: none;
    color: var(--lt-txt-1);
}